@media (max-width:1536px) {
    .header{
        // background: transparent;
        height: 90vh;
        // position: relative;
        margin-bottom: 2%;
        #poster{
            height: 80vh;
            width: 100%;
            // position: absolute;
        }
      }
      
}