@media (max-width:1536px) {
    .header{
        background-color: blueviolet;
        // background: transparent;
        height: 80vh;
        // position: relative;
        #poster{
            height: 80vh;
            width: 100vw;
            // position: absolute;
        }
      }
      
}