@media (max-width:1536px) {
    #movie-section {
        margin: 5%;
    }

    #card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #button-container {
        display: flex;
        justify-content: space-between;
        height: 5vh;
    }

    #button-container>button {
        height: 100%;
        width: 5%;
        border-radius: 10px;
    }
    #button-container>button:hover{
        background-color: blueviolet;
    }
    #filter-container{
        display: flex;
        justify-content: center;
        /* background-color: blueviolet; */
        background-color: blueviolet;
    }
    .filter-button{
        /* height: 10%; */
        margin: 1%;
        padding: 1%;
        border-radius: 10px;
        width: 8%;
        /* background-color: blueviolet; */
    
    }
    .filter-button:hover{
        background-color: greenyellow;
    }

}